<div>
    <h2>
        <span jhiTranslate="gatewayuaaApp.customers.home.title">Customers</span>
        <button class="btn btn-primary float-right jh-create-entity create-customers" [routerLink]="['/', { outlets: { popup: ['customers-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="gatewayuaaApp.customers.home.createLabel">
            Create new Customers
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="customers">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="gatewayuaaApp.customers.email">Email</span></th>
            <th><span jhiTranslate="gatewayuaaApp.customers.password">Password</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let customers of customers ;trackBy: trackId">
                <td><a [routerLink]="['../customers', customers.id ]">{{customers.id}}</a></td>
                <td>{{customers.email}}</td>
                <td>{{customers.password}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../customers', customers.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customers/'+ customers.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'customers/'+ customers.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
